.card-text{
    background-color: white;
}

h3{
  display: inline-block; 
}

#profilepicture{
    display: block;
}

#profilelinks{
    padding-top: 20px;
}

.card{
    display: inline-block;
}

#portfolioMaster{
    justify-content: center;
}
img{
    width: 100%;
    padding: 0%;
}